%td
  - unless b.meta.borrowed?
    - if b.meta.starred?
      = link_to toggle_starred_book_url(b), remote: true, method: :post, rel: 'tooltip', title: 'Unstar' do
        = icon('star', '', class: 'fa-lg')
    - else
      = link_to toggle_starred_book_url(b), remote: true, method: :post, rel: 'tooltip', title: 'Star' do
        = icon('star-o', '', class: 'fa-lg')
%td= b.call_no
%td= link_to b.title, book_url(b)
%td= responsive_rater_tag(value: b.meta.rating, min: 0, max: 5, id: b.id)
%td= b.pages
%td= b.height
%td= b.library_count == 1 ? 'YES' : 'NO'
%td= b.non_regional_library_count.zero? ? 'YES' : 'NO'
%td= ((session[:search_library_id].present? ? b.library_books.where(library_id: session[:search_library_id]).first.available : b.available_count > 0) ? 'YES' : 'NO')
%td= b.human_status_name
%td{ class: (1.day.ago > b.last_updated_at ? 'danger' : '') }= time_ago_in_words(b.last_updated_at) + ' ago'
%td
  = link_to queue_update_book_url(b), remote: true, method: :post, rel: 'tooltip', title: 'Queue For Update' do
    = icon('refresh', '', class: 'fa-lg')
  - if b.meta.can_browse?
    = link_to browse_book_url(b), remote: true, method: :post, rel: 'tooltip', title: 'Mark Browsed' do
      = icon('book', '', class: 'fa-lg')
  - if b.meta.can_revert?
    = link_to revert_to_new_book_url(b), remote: true, method: :post, rel: 'tooltip', title: 'Revert to New' do
      = icon('file-o', '', class: 'fa-lg')         
  - if b.meta.can_borrow?
    = link_to borrow_book_url(b), remote: true, method: :post, rel: 'tooltip', title: 'Mark Borrowed' do
      = icon('check', '', class: 'fa-lg') 
  = link_to book_url(b), remote: true, method: :delete, rel: 'tooltip', title: 'Delete', data: { confirm: "Delete #{b.title}?" } do
    = icon('remove', '', class: 'fa-lg')
