.container
  .row
    = simple_form_for(:book, url: import_books_url, method: :post) do |f|
      = f.input :file, as: :file
      = f.submit 'Import from file ...'
    = link_to 'Export', export_books_path, method: :post
    %hr
  .row
    .col-xs-12
      %table.table.table-striped
        %tr
          %th Call No
          %th Title
          %th Pages
          %th Height
          %th Solo
          %th
        - @books.each do |b|
          %tr{ class: (b.available_count.zero? ? 'danger' : '') }
            %td= b.call_no
            %td= b.title
            %td= b.pages
            %td= b.height
            %td= b.library_count == 1 ? 'YES' : 'NO'
            %td
              = link_to 'View', b

      .pagination.pull-right
        = will_paginate @books
