.container-fluid
  .row
    = simple_form_for(@book, url: books_url, method: :post) do |f|
      = f.input :brn
      = f.button :submit, 'Import!'
    %hr
  .row
    = simple_form_for(:book, url: import_books_url, method: :post) do |f|
      = f.input :file, as: :file
      = f.submit 'Import from file ...'
    %hr  
