!!!
%html
  %head
    %title
      - if content_for? :title
        = yield :title
      - else
        Nlbdby - Personal NLB Booklist
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
%body{ class: "#{controller.controller_name}-#{controller.action_name}" }
  = render 'shared/nav'
  = render 'shared/flash'
  = yield